[Unit]
Description=Gunicorn daemon for {{ app_name }}
After=network.target

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
WorkingDirectory={{ django_app_dir }}

EnvironmentFile={{ django_app_dir }}/.env

ExecStart={{ venv_dir }}/bin/gunicorn \
    --workers {{ gunicorn_workers }} \
    --bind unix:/run/{{ app_name }}.sock \
    'config.wsgi:application'

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target