all_lan_prefix=143.8
all_domain=example.com

services_github_token=changeme
services_ansible_user=service
services_ansible_password=changeme

cluster_ansible_user=cluster
cluster_ansible_password=changeme

django-app_django_secret_key=changeme
django-app_django_api_key=changeme
django-app_django_email=test@example.com
django-app_django_email_password=changeme
django-app_hcaptcha_sitekey=changeme
django-app_hcaptcha_secret=changeme
