---

.default_schedule_rules: &schedule_rules
  - if: '$CI_PIPELINE_SOURCE == "schedule" || $CI_PIPELINE_SOURCE == "web"'
  - when: never

.default_job: &default_job
  tags:
    - ansible
    - automation
  rules:
    *schedule_rules

stages:
  - setup_vars
  - setup_infra
  - deploy_services

setup_vars:
  <<: *default_job
  stage: setup_vars
  script:
    - echo "[INFO] Setup vars"
    - chmod -R o-w .
    - chmod +x ./scripts/setup_vars.sh
    - ./scripts/setup_vars.sh
    - ansible-galaxy collection install -r "./requirements.yml"

setup_infra:
  <<: *default_job
  stage: setup_infra
  script:
    - echo "[INFO] Starting Ansible playbook for infrastructure"
    - ansible-playbook -i inventory/hosts.ini playbooks/setup_servers.yml -v
  rules:
    - if: '$setup_infra == "true"'
      when: on_success

deploy_services:
  <<: *default_job
  stage: deploy_services
  script:
    - echo "[INFO] Starting Ansible playbook for services"
    - ansible-playbook -i inventory/hosts.ini playbooks/deploy_services.yml -v
  rules:
    - if: '$deploy_services == "true"'
      when: on_success