provider "proxmox" {
  pm_api_url      = "https://{{ ansible_host }}:8006/api2/json"
  pm_user         = "{{ ansible_user }}@pam"
  pm_password     = "{{ ansible_password }}"
  pm_tls_insecure = true
}