resource "proxmox_vm_qemu" "{{ item.name }}" {
  vmid    = {{ item.id }}
  name    = "{{ item.name }}"
  cores   = {{ item.cores }}
  memory  = {{ item.memory }}
  onboot  = true
  agent   = 1

  disk {
    slot     = 0
    size     = "{{ item.disk_size }}"
    storage  = "{{ item.storage }}"
    type     = "scsi"
  }

  scsihw = "virtio-scsi-single"

  network {
    model   = "virtio"
    bridge  = "{{ item.net_bridge }}"
  }

  {% if item.cloud_init is defined and item.cloud_init %}
  ciuser     = "{{ item.cloud_user }}"
  cipassword = "{{ item.cloud_password }}"
  ipconfig0  = "ip={{ item.net_ip_address }}/{{ item.net_subnet }},gw={{ item.net_gateway }}"
  {% endif %}

  {% if item.iso is defined %}
  cdrom = "{{ item.iso }}"
  {% endif %}

  state = "{{ services_state }}"
}
