---

- name: Ensure Docker networks exist or remove it
  community.docker.docker_network:
    name: "{{ item.key }}"
    driver: bridge
    state: "{{ containers_state }}"
  loop: "{{ docker_networks | dict2items }}"
  when: docker_networks is defined

- name: Create containers in user's base directory
  include_tasks: install_container.yml
  loop: "{{ docker_containers }}"
  loop_control:
    loop_var: container
  when: containers_state == 'present'

- name: Remove containers in user's base directory
  include_tasks: destroy_container.yml
  loop: "{{ docker_containers }}"
  loop_control:
    loop_var: container
  when: containers_state == 'absent'