resource "proxmox_virtual_environment_container" "{{ item.name }}" {
  node_name = "{{ proxmox_node }}"
  vm_id     = {{ item.id }}
  hostname  = "{{ item.name }}"
  unprivileged = {{ item.lxc_unprivileged | bool }}
  root_password = "{{ item.root_password }}"

  template {
    storage = "{{ item.template_storage | default('local') }}"
    id      = "{{ item.template_id }}"
  }

  cpu {
    cores = {{ item.cores }}
  }

  memory {
    dedicated = {{ item.memory }}
    swap      = {{ item.swap }}
  }

  initialization {
    ip_config {
      ipv4 {
        address = "{{ item.net_ip_address }}/{{ item.net_subnet }}"
        gateway = "{{ item.net_gateway }}"
      }
    }
  }

  network_interface {
    name   = "eth0"
    bridge = "{{ item.net_bridge }}"
  }

  rootfs {
    storage_id = "{{ item.rootfs.split(':')[0] }}"
    size       = "{{ item.rootfs.split(':')[1] }}G"
  }

  started = true
}