resource "proxmox_lxc" "{{ item.name }}" {
  target_node  = "{{ proxmox_node }}"
  vmid         = {{ item.id }}
  hostname     = "{{ item.name }}"
  ostemplate   = "{{ item.template }}"
  cores        = {{ item.cores }}
  memory       = {{ item.memory }}
  swap         = {{ item.swap }}
  unprivileged = {{ item.lxc_unprivileged | lower }}
  password     = "{{ item.root_password }}"

  {% if item.features is defined %}
  features = {
    {% for key, value in item.features.items() %}
    {{ key }} = {{ 'true' if value|int == 1 else 'false' }}
    {% endfor %}
  }
  {% endif %}

  network {
    name    = "eth0"
    bridge  = "{{ item.net_bridge }}"
    ip      = "{{ item.net_ip_address }}/{{ item.net_subnet }}"
    gateway = "{{ item.net_gateway }}"
  }

  rootfs {
    storage = "{{ item.rootfs.split(':')[0] }}"
    size    = "{{ item.rootfs.split(':')[1] }}G"
  }
  
  state  = "{{ services_state }}"
}