resource "proxmox_lxc" "{{ item.lxc_container.name }}" {
  target_node  = "{{ proxmox_node }}"
  vmid         = {{ item.lxc_container.id }}
  hostname     = "{{ item.lxc_container.name }}"
  ostemplate   = "{{ item.lxc_container.template }}"
  cores        = {{ item.lxc_container.cores }}
  memory       = {{ item.lxc_container.memory }}
  swap         = {{ item.lxc_container.swap }}
  unprivileged = {{ item.lxc_container.lxc_unprivileged | lower }}
  password     = "{{ item.lxc_container.root_password }}"

  {% if item.lxc_container.features is defined %}
  features = {
    {% for key, value in item.lxc_container.features.items() %}
    {{ key }} = {{ 'true' if value|int == 1 else 'false' }}
    {% endfor %}
  }
  {% endif %}

  network {
    name    = "eth0"
    bridge  = "{{ item.lxc_container.net_bridge }}"
    ip      = "{{ item.lxc_container.net_ip_address }}/{{ item.lxc_container.net_subnet }}"
    gateway = "{{ item.lxc_container.net_gateway }}"
  }

  rootfs {
    storage = "{{ item.lxc_container.rootfs.split(':')[0] }}"
    size    = "{{ item.lxc_container.rootfs.split(':')[1] }}G"
  }
  
  state  = "{{ services_state }}"
}