resource "proxmox_vm_qemu" "{{ item.virtual_machine.name }}" {
  target_node  = "{{ proxmox_node }}"
  clone = "{{ item.virtual_machine.template }}"
  vmid    = {{ item.virtual_machine.id }}
  name    = "{{ item.virtual_machine.name }}"
  cores   = {{ item.virtual_machine.cores }}
  memory  = {{ item.virtual_machine.memory }}
  onboot  = true
  agent   = 1

  disk {
    slot     = 0
    size     = "{{ item.virtual_machine.disk_size }}"
    storage  = "{{ item.virtual_machine.storage }}"
    type     = "scsi"
  }

  scsihw = "virtio-scsi-single"

  network {
    model   = "virtio"
    bridge  = "{{ item.virtual_machine.net_bridge }}"
  }

  {% if item.virtual_machine.cloud_init is defined and item.virtual_machine.cloud_init %}
  ciuser     = "{{ item.virtual_machine.cloud_user }}"
  cipassword = "{{ item.virtual_machine.cloud_password }}"
  ipconfig0  = "ip={{ item.virtual_machine.net_ip_address }}/{{ item.virtual_machine.net_subnet }},gw={{ item.virtual_machine.net_gateway }}"
  {% endif %}

  state = "{{ services_state }}"
}
