---

- name: Gather container definitions from services
  set_fact:
    lxc_containers: "{{ services | select('in', groups['lxc_containers']) | map('extract', hostvars, 'lxc_container') | select('defined') | list }}"

- name: Create containers on proxmox server
  include_tasks: install_container.yml
  loop: "{{ lxc_containers }}"
  loop_control:
    loop_var: container
  when: containers_state == 'present'

- name: Remove containers on proxmox server
  include_tasks: destroy_container.yml
  loop: "{{ lxc_containers }}"
  loop_control:
    loop_var: container
  when: containers_state == 'absent'