---

- name: Generating basic setup
  hosts: localhost
  vars_files:
    - ../vars/setup.yml
  roles:
    - local/disable_motd

- name: Creating dockers
  hosts: localhost
  become: true
  vars_files:
    - ../vars/setup.yml
  roles:
    - common/packages
    - local/docker_containers

- name: Config gitlab
  hosts: localhost
  vars_files:
    - ../vars/setup.yml
  vars:
    roles_condition: "{{ containers_state is undefined or containers_state == 'present' }}"
  roles:
    - role: local/docker_images
      when: roles_condition
    - role: local/gitlab_setup
      when: roles_condition