---

- name: Generating basic setup
  hosts: localhost
  vars_files:
    - ../vars/setup.yml
  roles:
    - disable_motd

- name: Creating dockers
  hosts: localhost
  become: true
  vars_files:
    - ../vars/setup.yml
  roles:
    - packages
    - docker_containers

- name: Config gitlab
  hosts: localhost
  vars_files:
    - ../vars/setup.yml
  vars:
    roles_condition: "{{ containers_state is undefined or containers_state == 'present' }}"
  roles:
    - role: docker_images
      when: roles_condition
    - role: gitlab_setup
      when: roles_condition